CompileFlags:
  Remove:
    - -isysroot
    - /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk
    - -mlongcalls
    - -fno-shrink-wrap
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
  Add:
    - -isysroot
    - /Users/nilton/.platformio/packages/toolchain-xtensa-esp-elf/xtensa-esp-elf
Diagnostics:
  Includes:
    IgnoreHeader:
      - .*FreeRTOS\.h
  ClangTidy:
      Add: modernize*
      Remove: modernize-use-trailing-return-type
